## Ambienti virtuali
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Configurazione e Segreti (FONDAMENTALE per i token Discogs)
config.json
.env
secrets.yaml
bin/

# File Audio Temporanei
*.wav
*.mp3
*.flac
*.ogg
audio_chunks/

# IDE
.vscode/

